/* /* #header {
  width: 100%;
} */

#container {
  margin: 1em auto;
  max-width: 1024px;
} 

body {
  /* height: 100dvh; */
  /* width: 100dvw; */
}

div.prompt {
  min-width: 1ex;
  background-color: #FFFFFF;
}